{% extends 'taskapp/layout.html'%}
{% load static %}
{% block style %}<link rel='stylesheet' href="{% static 'css/about.css'%}">{% endblock%}
{% block content %}
<div class='about-head'><h2>ParkQwik is India’s No1 General & EV Parking Marketplace</h2>
<p>We continuously strive to offer our customers the finest parking and car services solutions</p></div>

<div class='about-cont'>
    <h2>About ParkQwik</h2>
    <h5>arkqwik connects numerous Renters across India and Singapore who
        are seeking parking spaces with Hosts who have available driveways,
        garages, or parking spots to share.
        
        Through our intuitive mobile app platform, we effortlessly facilitate connections
        between vehicle owners and parking lot operators, guaranteeing a smooth and
        hassle-free experience for everyone involved.</h5>
    <div>
{% endblock %}