{% extends 'taskapp/layout.html' %}
{% load static %}
{% block content %}
{% block style %}<link rel='stylesheet' href={% static 'css/career.css'%}>{% endblock%}
<div class='career-div'>
    <h2>Careers at ParkQwik</h3>
    <h4>CHENNAI | BANGALORE | MUMBAI | DELHI</h4>

    <h5>We're on the lookout for skilled and dynamic individuals to join our team. If you're passionate about
        innovation and ready to contribute to our success. Be part of a thriving workplace where your talents
        are valued and growth is encouraged</h5>

<p>Send your resumes to (Email)  hr@parkqwik.com</p>
<p>Visit our Indeed Page To Apply Current Openings   parkqwik</p>
</div>
{% endblock %}