<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParkQwik</title>
    <link rel='stylesheet' href="{% static 'css/layout.css'%}">

    {% block style %}{% endblock%}
    {% block script%}<script src="{% static 'script/home.js '%}"></script>{% endblock%}
</head>
<header class='header-section'>
<div class='header-left'><h2>ParkQwik</h2>
    <p >Parking Made Easy</p></div>
    <nav class='nav'>
<a class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}"href={% url 'taskapp:contact'%}><div id='navid'>Contact Us</div></a>
<a class="{% if request.resolver_match.url_name == 'career' %}active{% endif %}"href={% url 'taskapp:career'%}><div id='navid'>Careers</div></a>
<a class="{% if request.resolver_match.url_name == 'service' %}active{% endif %}"href={% url 'taskapp:service'%}><div id='navid'>Services</div></a >
<a class="{% if request.resolver_match.url_name == 'fastag' %}active{% endif %}" href="{% url 'taskapp:fastag'%}"><div id='navid'>Fastag</div></a>
<a class="{% if request.resolver_match.url_name == 'parking' %}active{% endif %}"href={% url 'taskapp:parking'%}><div id='navid'>Parking</div></a>
<a class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}" href="{% url 'taskapp:about'%}">About</a></div>
<a class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"href={% url 'taskapp:home' %}><div id='navid'>Home</div></a>

    </nav>
    </header>



<body>{% block content %}{% endblock %}
    <div class='customer-section'>
        <h2>Our Happy Customer</h2>
        <section class ='customer'>
            <div ><nav></nav></div>
            <div ><nav></nav></div>
            <div ><nav></nav></div>
            <div ><nav></nav></div>
        </section>
    </div>
        <div class="playstoresec">
        
                <h3>Download our Application</h3>
                <p>By downloading ParkQwik, you gain access to a world of seamless parking experiences and car services right at your fingertips.</p>
                <img src="https://img.icons8.com/?size=100&id=22982&format=png" alt=""><p>For Android versions ,Download the Application on the PlayStore!!</p>
                <img src="https://img.icons8.com/?size=100&id=bep_ZUj5TddJ&format=png"><p>For IOS ,Download the Application on the AppStore!!</p>
        </div>
    
    <div>
        <section>
            <div class="faq-section">
    
              <section>
                <div class="faq-item">
                <div class="faq-question" onclick="toggleAnswer(this)">
                Can I reserve a parking spot in advance?
                </div>
                <div class="faq-answer">
                    Yes, you can book your parking space in advance. You can choose the date and time when you need your parking space.
                </div>
                </div>
            </section>
    
            <section>
                <div class="faq-item">
                <div class="faq-question" onclick="toggleAnswer(this)">
                    Can I Cancel my parking reservation?
                </div>
                <div class="faq-answer">
                    Yes, you can cancel your parking reservation before your allotted time by calling our customer support number.
                </div>
                </div>
            </section>
    
            <section>
                <div class="faq-item">
                <div class="faq-question" onclick="toggleAnswer(this)">
                    Does ParkQwik operate in multiple cities?
                </div>
                <div class="faq-answer">
                    Yes, we operate in all metro cities and the cities around them.
                </div>
                </div>
            </section>
    
            <section>
                <div class="faq-item">
                <div class="faq-question" onclick="toggleAnswer(this)">
                    How can I extend my parking reservation?
                </div>
                <div class="faq-answer">
                    You can either rebook or contact customer support to extend your parking.
                </div>
                </div>
            </section>
    
    
            <section>
                <div class="faq-item">
                <div class="faq-question" onclick="toggleAnswer(this)">
                    Do you offer valet parking service?
                </div>
                <div class="faq-answer">
                    Yes, we do offer valet parking services. You can reach out to our customer support number at 842 842 88 33 to book your valet parking.
                </div>
                </div>
            </section>
              
              
        </section>
    </div>
        </div>
       
        </div>
    </div>
</body>

<footer>
    <div class="st-box">
    <div class='bigbox'>
        <div class='box1'><h2>ParkQuik</h2><p>the computer parking app and car parking solution </p><h4>Follow as on:</h4></div>
        <div class='box2'><h2>Quick Links</h2>
            <a href="">About Us</a>
            <a href="">Blogs</a>
            <a href="">NewsLetters</a>
            <a href="">Help and Support </a>
            <a href="">Terms and Conditions</a>
            <a href="">Privacy Policies</a>
            <a href="">Refund and Cancellation policies</a>
            <a href="">Data Deletion</a>
        </div>
    </div>
    <div class='box3'>
        <h3>Products</h3>
        <h6>Fastag Service</h6>
        <h6>Nearby Parking</h6>
        <h6>Ev Parking</h6>
        <h6>DoorStep CarWash</h6>
        <h6>Road Assistance car insurance</h6>
        <h6>Shop</h6>

    </div>
    <div class='box4'>
        <ul><li>Email</li>
            <li>Call</li>
            <li>Location</li>
        </ul>
    </div>
</div>
<div class='last-div'>
<div class='box5'>
    <h2>Our Office Address</h2>
    <h1>CHENNAI|MUMBAI|DELHI|BANGALORE</h1>ho
</div>
</div>
</footer>
</body>
</html>
<script>
    function toggleAnswer(element) {
    const answer = element.nextElementSibling;
    const isVisible = answer.style.display === "block";
    
    // Close all open answers
    document.querySelectorAll('.faq-answer').forEach(ans => ans.style.display = "none");
  
    // Toggle current one
    answer.style.display = isVisible ? "none" : "block";
  }</script>