*{
    justify-items: center;
    align-items: center;
}
.container-1{
    display:flex;
    
    
}
.section-1{
    flex-wrap: wrap;
    flex-direction: row;

}
#title-img{
    display:flex
}

.section-2{
    
    display:flex;
    
}
.service-box{
display:flex;
  flex-wrap:wrap; 
  gap: 10px;
  padding: 20px;
  background-color: #b02727;
}
#box:hover{
    box-shadow: black;
    border-radius: 2%;
    background-color: rgb(130, 131, 130);
    border-radius: 10%;
    
    
}

    
.container-3
{
    margin:3%;
    display:flex;
    flex-direction: column;}
.card{

    display:flex;
}

.product-perks{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.perks{
    width: 50%;
    box-sizing: border-box;
    padding:10px;
}

.playstoresec{
    margin:5%;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.faq-section{
    background-color: rgb(184, 230, 115);
    margin: 2%;
    padding:2%;
    width: 100%;
    border-color: black;
    border-radius: 2%;
    border-style: solid;
}
.faq-answer{
    display: none;
    border-width: 2px;
    border-style:dashed;
    background-color: aquamarine;
}